body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url("./Pictures/backgraound.png");
    background-size: cover;
    background-position: center;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 10px 20px;
    color: #fff;
}
.navbar .logo img {
    height: 40px;
}
  
.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
  
.nav-links li {
    margin-right: 20px;
  }
  
.nav-links li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s; 
    background: transparent;
}
  
.nav-links li a:hover {
    color: #A3B104; 
}
  
.login a, .nav-links li a {
    text-decoration: none;
    color: #fff;
    transition: background-color 0.3s, color 0.3s; 
}
  
.login a, .nav-links li a {
    padding: 8px 12px; 
    border-radius: 4px;
    margin-right: 10px;
}

.search-icon img {
    height: 20px;
    cursor: pointer;
}
.login a:hover, .nav-links li a:hover, #a2 {
    background-color: #A3B104; 
    color: #fff;
}


.footer
{
    width: 100%;
    background-color: #25481F;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 120px;
}
.footer1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.footer2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 100px;
    padding-bottom: 10px;
}
.lienExternal,.lienInternal{
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.socialMedia{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
}
.lienfooter{
    color: white;
    text-decoration: none;
}
.information{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.titleXofram{
    font-size: 30px;
    font-weight: 700;
    font-style: italic;
}
.descriptionfooter{
    margin-top: 20px;
}
.adress{
    margin-top: 15px;
}
.copyright{
    font-size: 10px;
    font-weight: bold;
}
.head_OurProduct{
    background-image: url(./Pictures/backgroundHead-Product.jpg);
    background-size: cover; 
    background-position: center;
    width: 100%;
    height: 20em;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.titleOurproduct{
    font-size: 2em;
    font-weight: 600;
    padding-top: 25px;
}
.smallDescription{
    color: #A3B104;
    font-weight: 500;
    padding-top: 15px;
}

/* OurProduct code */

.OurProduct{
    margin:0;
    display: flex;
    flex-direction:column;
}
.content_OurProduct{
    width: 100%;
    background-image: url(./Pictures/BackgroundProduct.jpg);
    background-size: cover; 
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    justify-items: center;
    gap: 60px;
    padding: 50px 0px 80px 0px;
}
.product{
    padding-left: 230px;
    display: flex;
    flex-flow: row wrap;
    justify-content:space-around;
    align-items: center;
    gap: 80px 10px ;
}
.picture>img{
    width: 120px;
    height: 150px;
    background-color: #D9D9D9;
    border-radius: 15%;
}
.etoile{
    display: flex;
    flex-direction: row;
}
.addTocart>button{
    width: 100px;
    height: 30px;
    background-color: #5D6505;
    border-style: none;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 10px;
    gap: 4px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 4px;
    padding-left: 12px;
    transition: width 0.3s, height 0.3s;
}
.product1,.product2,.product3,.product4,.product5,.product6,.product7,.product8,.product9{
    flex-basis: calc(33.33% - 10px);  
    display: flex;
      flex-direction: column;
      gap: 12px;
    
}
.descriptionProduct{
    padding-top: 10px;
}
.titleDiscription{
    font-size: 2em;
    font-weight: 700;
    color: #5D6505;
}
.addTocart>button:hover{
    background-color: #3f4226;
}



  


  /*About us code*/

  .about-us{
    background-color: #EEF2ED;
    height: 600px;
}

  .about-heading{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: auto;
}

.about-heading h1{
    font-size: 50px;
    color: #000;
    margin-bottom: 20px;
    position: relative;
}


.about-heading h1::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color: #4caf50;

}

.about-heading p{
    font-size: 18px;
    color: #666;
    margin-bottom: 35px;
}

.container{
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;

}

.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
}

.about-image{
    flex: 1;
    margin-right: 40px;
    overflow: hidden;

}

.about-image img{
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease;
}

.about-image:hover img{
    transform: scale(1.3);
}

.about-content{
    flex: 1;
}

.about-content h2{
    font-size: 18px;
    margin-bottom: 15px;
    color: #333;
}

.about-content p{
    font-size: 18px;
    line-height:1.5;
    color: #666;

}

.about-content .read-more{
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: #4caf50;
    font-size: 19px;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 15px;
    transition: 0.3s ease;

}

.about-content .read-more:hover{
    background-color: #A3B104;
}

/*The home page code*/

.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    width: 100%;
}
 
.content-home {
    flex: 1;
    margin-right: 1px; 
    
  }
  
.h1-home {
    font-size: 36px;
    margin-bottom: 40px;
    margin-left: 100px;
    color: #A3B104;
  }
  
.h2-home {
    font-size: 36px;
    margin-bottom: 40px;
    margin-left: 100px;
    color: #f2f2f2;
  }
  
.p-home {
    font-size: 18px;
    margin-bottom: 40px;
    margin-left: 100px;
    color: #A3B104;
    
  }
  
.read-more-home {
    display: inline-block;
    padding: 10px 20px;
    background-color: #A3B104;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s ease;
    margin-left: 100px;
}
  
.read-more-home:hover {
    background-color: transparent;
    border: 2px solid #A3B104;
}
  
.image-home {
    flex: 1;
    text-align: right;
  }
  
.img-home {
    width: 300px;
    height: auto;
    margin-right: 160px;
    margin-top: 50px;
  }
  
.button-container {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-right: 30px;
    gap: 15px;
}
  
#button1,
#button2 {
    border-radius: 50%;
    border: 0;
    padding: 10px;
  }
  
#button1 {
    left: 10px; 
    background-color: white;
    
}
  
#button2 {
    right: 10px;
    background-color: #A3B104;
}
  
#button1 img,
#button2 img {
    width: 90%;
  }
#button1:hover,#button2:hover {
    background-color: #f6ff94;
    cursor: pointer; 
}

/*The Contact Us code*/

.container{
    background-color: #EEF2ED;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.Title{
    position: absolute;
    top: 25%;
    left: 30%;
    transform: translate(-60%,-50%);
    color: #5D6505;
    padding: 10px 20px;
    font-size: 30px;
    font-weight: bold;
    word-spacing: -10px
}
.form .paragraph{
    color: #5D6505;
    position: absolute;
    top: 32%;
    left: 30%;
    transform: translate(-50%,-50%);
    font-size: 10px ;
    font-weight: bold;

}
.firstForm{
    color: #5D6505;
    top: 40%;
    left: 20%;
    transform: translate(-20%,-50%);
    position: absolute;
    justify-content: space-between;
    display: flex;
}
.fullName {
    margin-right: 10px;
    border: 3px solid #A3B104;
    box-sizing: border-box;
    height: 40px;
    width: 220px;
    font-weight: bold;
    padding: 10px;
    outline: none;


}
.email {
    margin-left: 0px;
    border: 3px solid #A3B104;
    box-sizing: border-box;
    height: 40px;
    width: 220px;
    font-weight: bold;
    padding: 10px;
    outline: none;

}
.secondForm {
    top: 49%;
    left: 20%;
    transform: translate(-20%,-50%);
    position: absolute;
    justify-content: space-between;
    display: flex;
    border: 3px solid #A3B104;
    box-sizing: border-box;
    height: 40px;
    width: 450px;
}

.secondForm input[type="text"] {
    width:450px;
    padding: 10px;
    box-sizing: border-box;
    height: 100%;
    font-weight: bold;
    border: none;
    outline: none;
}

.thirdForm{
    top: 59%;
    left: 20%;
    transform: translate(-20%,-50%);
    position: absolute;
    justify-content: space-between;
    display: flex;
    border: 3px solid #A3B104;
    box-sizing: border-box;
    height: 72px;
    width: 450px;
    margin-top:1% ;
}
.thirdForm input[type="message"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    height: 64px;
    font-weight: bold;
    border: none;
    outline: none;

}

.recap{
    color: #5D6505;
    top: 70%;
    left: 25%;
    position: absolute;
    transform: translate(-29%,-50%);
    width: 30%;
    font-size: 10px;
    font-weight: bold;
}
.recap2{
    color: #5D6505;
    top: 73%;
    left: 25%;
    position: absolute;
    transform: translate(3%,-50%);
    width: 30%;
    font-size: 10px;
    font-weight: bold;
}
.custom-button {
    background-color: #A3B104;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 83%;
    transform: translate(190%,-50%);
    height: 40px;
    color: #5D6505;
    width: 120px;
    font-weight: bold;
    padding: 13px 20px;
    margin-left: 90px;
    transition: background-color 0.3s ease;
}

.custom-button:hover {
    background-color: #EEF2ED;
    border: 2px solid #5D6505;
}
.custom-button a {
    color: inherit;
    text-align: center;
    text-decoration: none;
}
.img {
    display: flex;
    justify-content: flex-end;
    width: 70%;
    padding: 70px;
    margin-bottom: 60px;
    margin-top: 30px;
    margin-right: 50px;

}
.img img{
    width: 40%;
    height: 110%;
    border: 3px solid #A3B104;
    box-sizing: border-box;

}

/*Services code*/
  
.Services{
    margin:0;
    display: flex;
    flex-direction:column;
}
.contenu-Services{
    width: 100%;
    background-image: url(./Pictures/BackgroundServices.jpg);
    background-size: cover; 
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    justify-items: center;
    gap: 60px;
    padding: 80px 0px 150px 0px;

}
.titleServices{
    padding-bottom: 20px;
    font-size: 3em;
    font-weight: 500;
    color: white;
}  
.OurServices{
    display: flex;
    flex-flow: row wrap;
    justify-content:space-around;
    align-items: center;
    gap: 80px 10px ;
    color: white;
}
.pictureservice>img{
    width: 140px;
    height: 140px;
    background-color: #D9D9D9;
    border-radius: 100%;
}

.service1,.service2,.service3,.service4,.service5,.service6,.service7,.service8,.service9{
    flex-basis: calc(33.33% - 10px);  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.typeservice{
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 10px;    
}

  
